@use "../utils/" as *;
@use "../utils/variables" as vr;

.container {
	padding: 0 20px;
	@include breakpoint-up("xs") {
		padding: 0 30px;
	}
	@include breakpoint-up("sm") {
		padding: 0 100px;
	}
	@include breakpoint-up("md") {
		padding: 0 120px;
	}
	@include breakpoint-up("lg") {
		padding: 0 150px;
	}
	@include breakpoint-up("ml") {
		padding: 0 180px;
	}
	@include breakpoint-up("xl") {
		padding: 0 220px;
	}
	@include breakpoint-up("ul") {
		padding: 0 270px;
		width: 100%;
		max-width: vr.$screen-ul;
		margin: 0 auto;
	}
}
