/* Screen sizes */
$screen-xs: 375px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-ml: 1400px;
$screen-xl: 1600px;
$screen-ul: 1900px;

/* Fonts */
$font-family: "Kumbh Sans", sans-serif;
$font-family-secondary: sans-serif;
$font-size: 14px;
$font-weight: normal;
$letter-spacing: normal;
$line-height: normal;
